* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgb(225, 127, 240);
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    border: solid black;
}

#title {
    color: white;
}

#timer {
    color: white;
    font-size: 25px;
}

#scores-btn {
    background-color: white;
    font-size: large;
    color: rgb(225, 127, 240);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: solid thick black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

#quiz-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-text {
    text-align: center;
    width: 65%; 
    padding: 5%;
}

#start-text p {
    font-size: x-large;
    font-family: sans-serif;
}

#start-btn {
    background-color: rgb(225, 127, 240);
    font-size: large;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: solid thick black;
}

#questions {
    font-size: xx-large;
    font-family: sans-serif;
    width: 750px;
    padding-left: 5%;
}

button {
    background-color: rgb(225, 127, 240);
    font-size: large;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

#answer-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    padding: 5%;
}

#game-over {
    font-size: xx-large;
    font-family: sans-serif;
}

#save-btn {
    margin-left: 25%;
    margin-top: 7.5%;
    border: solid thick black;
}

#initials {
    height: 35px;
    width: 75px;
    border: solid black;
    border-radius: 10px;
    text-align: center;
}

#leaderboard {
    width: 250px;
}

#leaderboard h2 {
    font-size: xx-large;
    color:  rgb(225, 127, 240);
    padding: 5%;
}

li {
    font-size: x-large;
    font-family: sans-serif;
    height: 50px;
    width: 150px;
    color:  rgb(225, 127, 240);
    border-radius: 10px;
    border: solid thick black;
    margin: 5px;
    padding-top: 5px;
    text-align: center;
}

.hide {
    display: none;
}
